* { 
    font-family: fantasy; 
    color: blue;padding: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 80px;
}
p {
    color:red
}
 * {
    background-color: black;
    font-style: oblique;
    font-size: 30px;
    text-decoration: underline;
    color: whitesmoke;
}